@using Vocabulary.Adapters.Persistance.Models
@using Vocabulary.DataContracts.Types

<MudNavLink Href="@Href" Match="NavLinkMatch.Prefix">
    <MudText Typo="Typo.subtitle1" >@Term.Name</MudText>
    @if (Term.HasAdditionalName) {
        <div class="ml-3">
            <MudText Typo="Typo.caption">@Term.AdditionalName.Value</MudText>
        </div>
    }
</MudNavLink>


@code {
    [Parameter, EditorRequired]
    public string Href { private get; set; } = default!;

    [Parameter, EditorRequired]
    public TermName Term { private get; set; } = default!;
}