@using Vocabulary.Adapters.Persistance.Models

<MudNavLink Href="@Href" Match="NavLinkMatch.Prefix">
    <MudText Typo="Typo.subtitle1" >@Term.Name</MudText>
    @if (!string.IsNullOrWhiteSpace(Term.AdditionalName)) {
        <div class="ml-3">
            <MudText Typo="Typo.caption">@Term.AdditionalName</MudText>
        </div>
    }
</MudNavLink>


@code {
    [Parameter, EditorRequired]
    public string Href { private get; set; } = default!;

    [Parameter, EditorRequired]
    public Term Term { private get; set; } = default!;

    private string? LinkContent { get; set; }

    protected override void OnParametersSet()
    {
        //base.OnParametersSet();

        //if (!string.IsNullOrWhiteSpace(Term.AdditionalName)) 
        //{
        //    var linkContent = $"{Term.Name} ({Term.AdditionalName})";

        //    LinkContent =
        //        linkContent.Length > 25
        //            ? linkContent.Substring(0, 20) + "...)"
        //            : linkContent;


        //}
        //else {
        //    LinkContent = Term.Name;
        //}
    }
}