<MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="@true">
    <div class="my-auto d-flex flex-column flex-nowrap content">
        <MudText Typo="Typo.h1" Class="title" Style="color: #ebd2b7 !important;">Vocabulary</MudText>
        <MudText Typo="Typo.subtitle1" Class="subtitle" Style="color: #ebd2b7 !important;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
        </MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="/terms" Class="mx-auto px-16">
            Terms
        </MudButton>
        <ExportImport @bind-IsLoading="@_isLoading" Class="mt-16 gap-4" />
    </div>
</MudHidden>

<MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="@true">
    <div class="my-auto d-flex flex-column flex-nowrap content" style="min-width: 264px; padding-top: 15vw;">
        <MudText Typo="Typo.h3" Class="title" Style="color: #ebd2b7 !important;">Vocabulary</MudText>
        <MudText Typo="Typo.subtitle1" Style="font-weight: 200; font-size: .875rem; color: #ebd2b7 !important;" Class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
        </MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="/terms" Class="mx-auto px-16">
            Terms
        </MudButton>
        <ExportImport @bind-IsLoading="@_isLoading" Class="mt-16 gap-4" />
    </div>
</MudHidden>

<MudOverlay Visible="_isLoading" DarkBackground="true" Absolute="true" Style="width: 100%;">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>

@code {
    private bool _isLoading;
}